* {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}
.container {
  margin: 0 auto;
  width: 50%;
}
body {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  background-color: aqua;
  min-height: 10vh;
}
